doctype html
html(lang="en")
  head
    meta( charset="UTF-8")
    title WeatherSearch
    script(src="https://unpkg.com/axios/dist/axios.min.js")
  body
    #page
      #logo
        include svg/logo.svg
      #search
        form#search-form(onsubmit="return false;")
          input#cityField(type="text")
          button#searchButton
            include svg/search_btn.svg
      #weatherBlock
        #leftBlock
          #middleBlock
            #weatherIcon
            #verticalLine
            #tabContent
              #cityName
              #tabName
              #result
              #unit
        #rightBlock
          #tab1(class="tab active-tab")
            #tab1Icon
              include svg/tab_icons/temp.svg
          .tab#tab2
            #tab2Icon
              include svg/tab_icons/wind.svg
          .tab#tab3
            #tab3Icon
              include svg/tab_icons/humidity.svg
          .tab#tab4
            #tab4Icon
              include svg/tab_icons/sunset.svg
          .tab#tab5
            #tab5Icon
              include svg/tab_icons/pressure.svg